@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
  --primary-color: rgb(15, 11, 84);
  --primary-color-variant: rgba(15, 11, 84, 0.3);
  --secondary-color: rgb(234, 204, 130);
  --secondary-color-variant: rgba(234, 204, 130, 0.5);
  --primary-bg-color: rgb(55, 47, 199);
  --secondary-bg-color: rgb(241, 229, 150);
  --primary-bg-variant: radial-gradient(circle, rgb(33, 30, 214) 0%, rgb(81, 111, 186) 100%);
  --margin-container: 8rem auto 4rem;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a, ol, li {
  text-decoration: none;
}

.App {
  background: var(--primary-bg-color);
  background: var(--primary-bg-variant);
  overflow: hidden;
  height: 100vh;
  align-items: center;
}

.container {
  max-width: 600px;
  margin: var(--margin-container);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);

}
